table {
    width: 100%;
  }
  
  .body
  {
      min-height: 100vh;
      // display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(64, 244, 190);
  }  